@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 250 252;
    --foreground: 15 23 42;
  }

  .dark {
    --background: 15 23 42;
    --foreground: 226 232 240;
  }

  body {
    @apply bg-[#F8FAFC] dark:bg-[#0F172A] text-slate-900 dark:text-slate-100 transition-colors duration-300;
  }

  html {
    scroll-behavior: smooth;
  }
}